
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

#date-container {
    text-align: left;
}

#date, #day-name, #month-name {
    font-size: 24px; /* Match the font size of the original text editor */
    margin: 0;
}

#editor {
    width: 80%;
    height: 80%;
    border: none;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;
    margin-top: 20px;
    box-sizing: border-box;
}
